<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 20.11.2017, 11:11</p>
            <h2><a href="">My first post</a></h2>
            <p>It wasn't so bad using python with a virtual envirment to build a website with django.  Publishing it to python anywhere was easy too.</p>
        </div>

        <div>
            <p>published: 20.11.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Now I will attempt to publish this onine.  Hope it works.</p>
        </div>
    </body>
</html>
